ACF :- AutoCorrelation Function Plot<br/>
PACK :- Partial AutoCorrelation Function Plot<br/>
correlation goe between +1 and -1

In [ ]:
%pip install numpy
%pip install pandas
%pip install matplotlib
%pip install statsmodels

In [1]:
import pandas as pd
import numpy as np

In [3]:
import statsmodels.api as sm

/home/gitpod/.pyenv/versions/3.8.12/lib/python3.8/site-packages/statsmodels/compat/pandas.py:65: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import Int64Index as NumericIndex

In [4]:
from statsmodels.tsa.stattools import acovf,acf,pacf,pacf_yw,pacf_ols

## Non Stationary

In [6]:
df1 = pd.read_csv('UDEMY_TSA_FINAL/Data/airline_passengers.csv',index_col='Month',parse_dates=True)
df1.index.freq= 'MS'

## Stationary

In [7]:
## Stationary

In [8]:
df2 = pd.read_csv('UDEMY_TSA_FINAL/Data/DailyTotalFemaleBirths.csv',index_col='Date',parse_dates=True)
df2.index.freq='D'

In [9]:
df1.head()

            Thousands of Passengers
Month
1949-01-01                      112
1949-02-01                      118
1949-03-01                      132
1949-04-01                      129
1949-05-01                      121

In [10]:
df2.head()

            Births
Date
1959-01-01      35
1959-01-02      32
1959-01-03      30
1959-01-04      31
1959-01-05      44

In [14]:
import warnings
warnings.filterwarnings('ignore')

In [15]:
df = pd.DataFrame({'a':[13,5,11,12,9]})

In [16]:
df

    a
0  13
1   5
2  11
3  12
4   9

In [17]:
acf(df['a'])

array([ 1.   , -0.5  , -0.2  ,  0.275, -0.075])

In [2]:
import matplotlib as mpl
COLOR = 'white'
mpl.rcParams['text.color'] = COLOR
mpl.rcParams['axes.labelcolor'] = 'black'
mpl.rcParams['xtick.color'] = COLOR
mpl.rcParams['ytick.color'] = COLOR
mpl.rcParams['figure.figsize'] = (20, 10)